<wizard on-finish="finishedWizard()" hide-indicators="true">
  <wz-step title="Starting">
    <h1>Let's give it a name</h1>
    <div class="form-group">
      <label for="cubeName">Cube name</label>
      <input type="text" class="form-control" id="cubeName" placeholder="Enter cube name">
    </div>
    <input type="submit" wz-next value="Continue" />
  </wz-step>
  <wz-step title="Continuing">
    <h1>Choose metrics</h1>
    <p>Some values don't need to be indexed. Can you tell us which ones ?</p>

    <input type="submit" wz-previous value="Edit name" />
    <input type="submit" wz-next value="Continue" />
  </wz-step>
  <wz-step title="More steps">
    <p>Even more steps!!</p>
    <input type="submit" wz-next value="Finish now" />
  </wz-step>
</wizard>
